/* RESET */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COLORS */
/* FONTS */
.logo {
  max-width: 150px;
}
.logo img {
  width: 100px;
}

.line {
  display: none;
}

.navbar {
  display: flex;
  max-width: 1500px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  position: fixed;
  background: #1E012C;
  color: #FFFFFF;
  box-shadow: inset 0px -1px 0px #F91E52;
  z-index: 10;
}
.navbar .nav-links {
  display: flex;
}
.navbar .nav-links .btnTicket {
  width: 150px;
  padding: 5px;
}
.navbar .nav-links ul {
  display: flex;
  width: 100%;
  align-items: center;
}
.navbar .nav-links ul li {
  margin: 0 25px;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.navbar .nav-links ul li:hover {
  transform: scale(1.05);
}
.navbar .nav-links ul li a:hover {
  color: #F91E52;
}
.navbar .menu-hamburger {
  display: none;
}
.navbar .langChoice {
  display: none;
}
.navbar .line-nav {
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 820px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
  }
  .navbar .logo {
    order: 2;
  }
  .navbar .line-nav {
    margin-top: 15px;
    display: block;
    border: 1px solid #402949;
    width: 100%;
  }
  .navbar .menu-hamburger {
    order: 3;
    width: 20px;
    display: block;
    z-index: 100000;
    cursor: pointer;
  }
  .nav-links {
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(30, 1, 44, 0.308);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 900;
  }
  .navbar .nav-links .btnTicket {
    height: 40px;
    padding: 0;
  }
  .mobile-menu {
    transform: translateX(0%);
    opacity: 1;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 10px 0;
    font-size: 1.2em;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  background: #1E012C;
  border-top: inset 1px #F91E52;
  align-items: center;
}

.footer-logo img {
  width: 90px;
}

.socialNetworks {
  row-gap: 1rem;
  align-items: center;
}
.socialNetworks a {
  color: #FFFFFF;
  font-size: 30px;
  margin: 1rem 0;
  padding: 10px;
}
.socialNetworks h2 {
  display: none;
}

.copyRight {
  color: #FFFFFF;
  font-size: 0.8rem;
  background: #1E012C;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.copyRight span {
  font-size: 8px;
  text-transform: none;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    padding: 0;
  }
  .footer-logo {
    order: 3;
    margin: 0;
    height: 80px;
  }
  .socialNetworks {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  .socialNetworks h2 {
    display: none;
  }
  .copyRight {
    order: 1;
  }
  .mentions {
    width: 100%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
  }
}
.place-section {
  padding-top: 50px;
  background: url(/images/sectionbg1.png);
  background-position: center;
  padding-bottom: 50px;
}

.place-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-container img {
  max-width: 550px;
  width: 100%;
}

.place-description {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  color: #FFFFFF;
  padding: 30px;
}
.place-description h4 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700px;
  letter-spacing: 0;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}
.place-description p {
  font-size: 18px;
  line-height: 2rem;
  margin-top: 15px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place-section {
    padding-top: 40px;
  }
  .place-container {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .place-container .place-description {
    justify-content: flex-start;
  }
  .place-container .place-description h4 {
    text-align: start;
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .place-section {
    padding-top: 0;
    margin-top: 50px;
  }
  .place-section .place-container {
    flex-direction: column;
    width: 100%;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 0;
  }
  .place-section .place-container .place-img img {
    max-width: 320px;
    width: 100%;
    margin-top: 30px;
  }
  .place-section .place-container .place-description {
    padding: 0;
    margin: auto;
  }
  .place-section .place-container .place-description h4 {
    text-align: start;
    font-size: 25px;
  }
  .place-section .place-container .place-description p {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0;
  }
}
.lineUp {
  margin-top: 100px;
}

.lineup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lineup-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  padding: 30px;
}
.lineup-img img {
  max-width: 550px;
  width: 100%;
}
.lineup-img h4 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  padding: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lineup-container {
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  .lineup-img {
    padding: 0;
  }
  .lineup-img img {
    width: 90%;
  }
  .lineup-img h4 {
    font-size: 1.2rem;
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .lineUp {
    margin-top: 50px;
  }
  .lineup-img {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .lineup-img h4 {
    font-size: 25px;
    padding: 30px;
    line-height: 0;
  }
}
.aboutOff {
  padding-top: 50px;
}

.about-container {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}
.about-container .about-title, .about-container .about-description {
  max-width: 550px;
  width: 100%;
  padding-top: 50px;
}
.about-container .about-title h3 {
  font-family: "Barlow Condensed", sans-serif;
  color: #F91E52;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0px;
}
.about-container .about-description {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.about-container .about-description span {
  font-weight: bold;
}
.about-container .about-description button {
  margin-top: 20px;
  width: 30%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container {
    width: 90%;
    margin: auto;
    align-items: center;
    gap: 20px;
  }
  .about-container .about-title {
    padding: 0;
    margin-top: 20px;
  }
  .about-container .about-title h3 {
    font-size: 50px;
  }
  .about-container .about-description {
    padding: 0;
    margin-top: 40px;
  }
  .about-container .about-description p {
    font-size: 1rem;
  }
  .about-container .about-description button {
    width: 50%;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .aboutOff {
    padding-top: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 33px;
    padding-right: 33px;
  }
  .about-container .about-title {
    width: 90%;
    padding-top: 0;
  }
  .about-container .about-title h3 {
    margin-top: 20px;
    font-size: 32px;
    text-align: start;
    margin-left: 16px;
  }
  .about-container .about-description {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    font-size: 15px;
    text-align: start;
  }
  .about-container .about-description button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-size: 15px;
  }
}
.infos-container {
  padding-top: 50px;
}

.container-faq {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 900px;
  width: 100%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #F91E52;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #F91E52;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #FFFFFF;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #F91E52;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #F91E52;
  border: 1px solid #F91E52;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #F91E52;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2em 0;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .infos-container {
    margin: auto;
  }
  .infos-container h2 {
    font-size: 60px;
    text-align: center;
    padding: 15px;
  }
  .container-faq {
    padding: 0;
    max-width: 300px;
    width: 90%;
  }
  .container-faq button .icon {
    border: none;
  }
  .container-faq .accordion-title {
    font-size: 13px;
  }
  .container-faq .accordion-content p {
    font-size: 12px;
  }
}
.ticketing {
  padding-top: 50px;
}
.ticketing h1 {
  padding: 10px;
}

.widgetEvent {
  max-width: 700px;
  width: 100%;
  margin: 10px auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ticketing {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .ticketing h1 {
    padding: 20px;
  }
  .widgetEvent {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .ticketing {
    margin-bottom: 20px;
  }
  .widgetEvent {
    width: 80%;
  }
}
.timer-element {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

.timer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.timer-style {
  display: flex;
  max-width: 100px;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #F91E52;
  border-radius: 50%;
  padding: 60px;
  box-shadow: 1px 1px 5px 1px #1E012C;
  background: transparent;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .timer {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .timer-style {
    padding: 35px;
    height: 70px;
    margin: 2px;
    width: 40px;
  }
  .timer-element {
    font-size: 15px;
  }
}
.banner img {
  max-width: 1500px;
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 30px;
}

.mention-legales {
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
}
.mention-legales a {
  margin-left: 20px;
}
.mention-legales h1 {
  font-size: 50px;
  padding-top: 20px;
}
.mention-legales h4, .mention-legales p, .mention-legales h5 {
  color: #FFFFFF;
}
.mention-legales h4 {
  text-align: center;
  padding: 20px;
}
.mention-legales h5 {
  text-decoration: underline;
  text-align: center;
}
.mention-legales p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background: #1E012C;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  color: #F91E52;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.btn {
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #F91E52;
  border: 1px solid #F91E52;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}
.btn:hover {
  transform: scale(1.05);
}

.line {
  display: block;
  border: 1px solid #402949;
  width: 100%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  .line {
    display: block;
    border: 1px solid #402949;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
