.mention-legales{
    width: 100%;
    margin-top: 10px;

    i {
        padding: 20px;
    }
    h1 {
        font-size: 50px;
        padding-top: 20px;
    }
    
    h4, p, h5 {
        color: $tertiary;
    }

    h4 {
        text-align: center;
        padding: 20px;
    }

    h5 {
        text-decoration: underline;
        text-align: center;
    }

    p{
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

}

@media #{$small}{
    .mention-legales {
        width: 100%;
        margin-top: 10px;
    }
}

