@import "libs/variables.scss";
@import "libs/responsive.scss";

.logo {
    max-width: 150px;
    width: 100%;
    height: 150px;
    
    img {
        width: 150px;
    }
}


nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    position: fixed;
    background: $primary;
    color: $tertiary;
    box-shadow: inset 0px -1px 0px $secondary;

    .hamburger {
        display: none;
    }
    .menu-items {
        display: flex;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        font-size: 18px;

        .items:hover {
            color: $secondary;
            transform: scale(1.05);
            &:active{
                color: $secondary;
            }
        }
    }




}

/* Responsive Mobile/Tablette */
@media #{$medium-up}{
    nav {
        padding: 15px 20px;
        position: fixed;
    }
    .logo {
        order: 2;
        margin: 0 auto;
    }

    nav .hamburger{
        display:block;
    }
    .hamburger {
        width: 20px;
        height: 20px;
        border: none;
        background: $primary;
        align-items: center;
        position: relative;
        cursor: pointer;


        span {
            display: block;
            width: 100%;
            height: 2px;
            background: $tertiary;
            position: absolute;
            pointer-events: none; /*Evenement JS*/
            transition: opacity 0.3s 0.15s ease-out;
    
            &:nth-child(1) {
                transform: translateY(7px);
                transition: transform 0.3s ease-out;
            }
            &:nth-child(3) {
                transform: translateY(-7px);
                transition: transform 0.3s ease-out;                
            }
    
        }
        
    }
    .hamburger.open span:nth-child(1) {
        transform: translateY(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0 ease-out;
    }
    .hamburger.open span:nth-child(3) {
        transform: translateY(0) rotate(-135deg);
    }

    .menu-items {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: $primary;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid $secondary;
        transform: translate(-100%);

        a {
            font-size: 18px;
            margin: 10px 0;
        }


        
    }
    .open {
        transform: translate(0%);
    }

}