.place-section {
    padding-top: 50px;
}

.place-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 550px;
        width: 100%;
    
    }
}
.place-description{
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    color: $tertiary;
    padding: 30px;

    h4 {
        font-size: 42px;
        line-height: 52px;
        font-weight: 700px;
        letter-spacing: 0;
        text-align: center;
        font-family: 'Barlow Condensed', sans-serif; 
    }

    p {
        font-size: 18px;
        line-height: 2rem;
        margin-top: 15px;
    }
} 


//Responsive tablette
@media #{$medium}{
    .place-section{
        padding-top: 40px;
    }
    .place-container{
        margin-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .place-description{
            justify-content: flex-start;

            h4{
                text-align: start;
                font-size: 35px;
            }
        }
    }

}

// Responsive mobile
@media #{$small}{
    .place-section {
        padding-top: 40px;

        .place-container {
            flex-direction: column;
            width: 90%;
            margin: auto;

            .place-img {
                margin-top: 20px;
            }

            .place-description{
                display: block;
                padding: 0;
                text-align: start;
                h4 {
                    text-align: start;
                    font-size: 35px;
                }
            }
        }
    }
}