@import 'libs/reset.scss';
@import 'navbar.scss';
@import 'footer.scss';
@import 'partyplace.scss';
@import 'lineup.scss';
@import 'about.scss';
@import 'faq.scss';
@import 'ticketing.scss';
@import 'timer.scss';
@import 'banner.scss';
@import 'mentions.scss';
 
// *{
//     outline: 1px solid red;
// }

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: $primary;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    color: $secondary;
    font-family: 'Barlow Condensed', sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}


a {
    text-decoration: none;
    color: $tertiary;
}

.btn {
    color: $tertiary;
    font-family: 'Barlow Condensed', sans-serif; ;
    background-color: $secondary;
    border: 1px solid $secondary;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    &:hover {
        transform: scale(1.05);
    }
}

.line {
    display: block;
    border: 1px solid #402949;
    width: 100%;
}

@media #{$medium}{
    h1 {
        font-size: 60px;
    }
}

@media #{$small}{
    h1 {
        font-size: 60px;
    }
    .line {
        display: block;
        border: 1px solid #402949;
        width: 100%;
    }
}